<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Week-4</title>

    <style>
        body {
            margin: 0px;
        }

        .wordsize{
            font-size: 20px;
        }
        input{
            font-size: 16px; width: 150px;
        }
        label{
            font-size: 20px;
        }
        button{
            font-size: 16px;
        }
    </style>
</head>
<body>
    <header style="background-color: #194052; height: 100px;">
        <div style="text-align: center;">
            <b style="color: white; font-size: 30px; line-height: 100px;">
                歡迎光臨，請輸入帳號密碼</b>
        </div>
    </header>
    <section style="text-align: center; line-height: 40px;">
        <h1>登入系統</h1>
        <form method="post" action="/signin">
            <label for="username">帳號&ensp;</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">密碼&ensp;</label>
            <input type="password" id="password" name="password"><br>
            <button type="submit">登入</button>
        </form>
    </section>
</body>
</html>
